@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "链接页面";
}

<h1 class="text-info">@ViewBag.LinkTitle</h1>

<h5 class="text-black-50">@ViewBag.LinkMessage</h5>
<div style="word-break: break-all; word-wrap: break-word;" class="text-black-50">@ViewBag.LinkPath</div>
<h5 class="text-danger">"请复制链接在网页中打开"</h5>




