@{
    ViewBag.Title = "拒绝访问";
}

<div class="text-center">

    <h1 class="text-danger">决绝访问</h1>
    <h6 class="text-danger">您没有查看此资源的权限</h6>

    <img src="~/images/image1.jpg" style="width:300px;height:300px;" />
</div>
