<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>小马技术 chart.js</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/Chart.css" />
    <script src="~/js/Chart.bundle.min.js"></script>
</head>
<body>
    <canvas id="myChart">
        图表区
    </canvas>

    <h5>------------------</h5>

    <script>
        (function () {
            'use strict';

            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                options: {
                    title: {
                        display: ture,
                        text: 'Hello World!你好，世界！',
                        fontColor: 'red',
                        fontsize: '24'
                    }
                }
            })
        })();
    </script>
</body>

</html>


