@model DeviceManagement.ViewModels.HomeDetailsViewModels
@*@model指定模型类型*@
@*@Model访问模型对象属性*@

@{
    ViewBag.Title = "设备详情页面";
}


<h3>@Model.PageTitle</h3>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class=" card-header">
                <h1>@Model.Device.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/image1.jpg" />

                <h4>设备号：@Model.Device.Id</h4>
                <h4>设备类型：@Model.Device.ClassName</h4>
                <h4>所在城市：@Model.Device.City</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-action="Index" asp-controller="home" class="btn btn-primary">返回</a>
                <a href="#" class="btn btn-primary">编辑</a>
                <a href="#" class="btn btn-danger">删除</a>
            </div>
        </div>
    </div>
</div>


@*有选择的使用js文件*@
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}


