@using DeviceManagement.Models

<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>
<body>

    <h3>@ViewData["PageTitle"]</h3>

    @{
        var device = ViewData["Device"] as Device;
    }

    <div>
        设备号：@device.Name
    </div>
    <div>
        设备类型：@device.ClassName
    </div>
    <div>
        所在城市：@device.City
    </div>

</body>
</html>

