@model IEnumerable<DeviceManagement.Models.Device>

@{
    ViewBag.Title = "设备列表页面";

}

<div class="card-deck">
    @foreach (var device in Model)
    {
        var photoPath = "~/images/" + (device.PhotoPath ?? "image1.jpg");

        <div class="card m-3">
            <div class="card-header">
                <h3>@device.Name</h3>
            </div>
            <img class="card-img-top imagesThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">

                <a asp-controller="home" asp-action="details" asp-route-id="@device.Id" class="btn btn-primary m-1">查看</a>

                <a asp-controller="home" asp-action="edit" asp-route-id="@device.Id" class="btn btn-primary">编辑</a>
                <a href="#" class="btn btn-danger">删除</a>
            </div>
        </div>
    }
</div>

